html {
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
	/* border: solid 1px red; */
}

body {
	display: flex;
	width: auto;
	height: auto;
	flex-direction: column;
	align-items: center;
}

#calculator {
	padding: 7px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-width: 200px;
	min-height: 250px;
	border: solid darkorange 2px;
}

.number-display {
	display: flex;
	justify-content: flex-end;
	justify-self: flex-start;
	flex: 1;
	font-family: 'Orbitron', sans-serif;
	font-size: small;
	padding-right: 2px;
	border: 1px darkcyan solid;
	background-color: rgb(228, 243, 248);
	margin-bottom: 2px;
	margin-top: 1px;
}
#buttons {
	display: flex;
	flex: 5;	
}

#num-btns {	
	display: flex;
	flex:2;
	flex-flow: column wrap;
	margin: 2px;
}

.button {
	font-family: 'Orbitron', sans-serif;
	background-color:azure ;
	border: 1px solid darkslategray;
	border-radius: 5px;
	margin: 1px;
	margin-top: 2px;
	flex:1;
}

.num-button {	
	display: flex;
}
.row {
	display: flex;
	flex: 1;
}
#operator-btns {
	display: flex;
	flex-direction: column;
}

#key-code {
	margin: 10px;
}